// pp = primary palette
// sp = secondary palette
$pp-main: #003580;
$pp-second: #009fe3;
$pp-yellow: #feba02;
$pp-black: #141414;
$pp-white: #fcfcfc;

$sp-first: #0077cc;
$sp-second: #00c4e3;
$sp-red: #db3069;
$sp-lightred: #dc7171;
$sp-white: #f2f6fa;
